<div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
        <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">Prueba con PrimeNG</span>
        <span class="defaultText dispTable">Un experimento...</span>
    </div>
</div>

<div class="ContentSideSections Implementation"> 
<context-menu-holder></context-menu-holder>  

Seleccionado:<br>
{{selectedFile | json}}<br>
<br>
Haz clic derecho...
{{firstRightClick}} {{secondRightClick}}
<p-tree [value]="files" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)">
    <template let-node>
        <!-- input [(ngModel)]="node.label" type="text" style="width:100%"-->
        <span [context-menu]="getLinks(node.data)" (onNodeSelect)="nodeSelect($event)">{{node.label}}
        </span>
    </template>    
</p-tree>
   
</div>
